* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0px;
    height: 100%;
}

#scene-container {
    display: block;
    height: 100%;
}

canvas {
    height: 80%;
    width: 80%;
}

#info {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
    font-size: 40px;
	z-index: 100;
	display:block;
    color: whitesmoke;
}